@using CinemaProject.Domain.DomainModels;
<div class="container">
    <div class="row">
        <h1 class="text-center w-100">Administrative Panel</h1>
    </div>
    <div class="row justify-content-between">
        <div style="width: 45%">

            <h3 class="h3">Export Tickets</h3>

            <hr />

            <form method="post" asp-controller="Admin" asp-action="ExportTicketsToExcel">
                <div class="form-group">
                    <label class="control-label">Select Genre of movie to Export</label>
                    <select name="genre" asp-items="Html.GetEnumSelectList<MovieCategory>()" class="form-control">
                        <option selected>ALL TICKETS</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-success">Export Tickets to Excel</button>
            </form>
        </div>
        <div style="width: 45%">
            <h3 class="h3">Import Users</h3>

            <hr />
            <form method="post" asp-controller="Admin" asp-action="ImportUsers" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="file" class="form-control" />
                </div>

                <hr />

                <button type="submit" class="btn btn-outline-info">Import users from Excel file</button>
            </form>
        </div>
    </div>
</div>